[Unit]
Description=Python Pi Camera Web Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
SupplementaryGroups=video input render
WorkingDirectory=/home/pi/pi-camera-monitor

# Load environment variables from /etc
EnvironmentFile=/etc/pi_camera.env

ExecStart=/usr/bin/python3 /home/pi/pi-camera-monitor/monitor_camera_web.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
